@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
}



<table class="table table-striped" id="productsDatatable">
    <thead>
        <tr>
               <th>
                Actions
            </th>
              <th>
                Name
            </th>
            <th>
                Image
            </th>
               <th>
                SupplyChain
            </th>
          
            <!--<th>
                Category
            </th>-->
                 <th>
                Url
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var b in Model)
        {
            <input type="hidden" value="@b.SupplyChainId" />
            <tr id="@b.Id">
                <td style="white-space: nowrap;">
                    <button class="btn btn-primary btn-product" data-productid="@b.Id" id="showScListBtn" data-scid="@b.SupplyChainId" title="Supply Chain"><i class="fa-solid fa-boxes-packing"></i></button>
                    <button class="btn btn-success btn-product editProductBtn"  data-productid="@b.Id" title="Edit"><i class="fa-solid fa-pen-to-square"></i></button>
                    @if(b.SupplyChainId != null && b.SupplyChainId != Guid.Empty)
                    {
                         <button class="btn btn-info btn-product" id="showQrModalBtn" data-scid="@b.SupplyChainId" data-productid="@b.Id" title="Generate QR"><i class="fa-solid fa-qrcode"></i></button>
                    } 
                   
                    <button class="btn btn-danger btn-product deleteProductBtn" data-productid="@b.Id" title="Delete"><i class="fa-solid fa-trash-can"></i></button>
               
                    @if(b.SupplyChainId != null)
                    {
                        <button class="btn btn-danger btn-product btnGenerateEmbedCode" data-prodid="@b.Id" data-scid="@b.SupplyChainId" title="Embed Code"><i class="fa-solid fa-plus"></i> Get Embed Code</button>                     
                    }  
                
                </td>
                      <td>
                    @Html.DisplayFor(modelItem => b.ProductName)
                </td>
                  <td>
                    <img src="@b.ProductImage" class="product-table-image">
                </td>
                   <td>
                    @Html.DisplayFor(modelItem => b.SupplyChain.Title)
                    @if(b.SupplyChainId != null && b.SupplyChainId != Guid.Empty)
                    {
                                           <button class="btn btn-danger btn-product btnDeleteSupplyChainLink" data-prodid="@b.Id" data-scid="@b.SupplyChainId" title="Delete"><i class="fa-solid fa-trash-can"></i></button>
                    }
                </td>
          
               @* <td>
                    @foreach(var cn in b.CategoryNames)
                    {
                        <p>@cn</p>
                    }
                </td>*@

                <td class="text-center" style="white-space: nowrap;">
                    @if(b.Url != null)
                    {
                        <a href="@b.Url" target="_blank" rel="noopener" class="btn btn-info btn-product" role="button" dat-bs-toggle="button"><i class="fa-solid fa-link"></i> Open</a>                       
                    }                    
                </td>

    
            </tr>
        }
    </tbody>
</table>

<div class="row text-right">
    <div class="col-md-12">
      <a class="btn btn-primary" asp-controller="Products"
   asp-action="Add">Add New Product</a>
    </div>
</div>

<div class="modal fade" id="SelectScModal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
             @*   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>*@
                <h4 class="modal-title" id="exampleModalLabel1">Select a Supply Chain</h4>
                 
            </div>
           
        <div class="modal-body">
         
              <ul class="list-group list-group-flush" id="supplyChainList">
                </ul>
                <hr />
                                  <button class="btn btn-success" id="selectScBtn">Select</button>
                           
                <button class="btn btn-outline-dark closeModal" id="closeModal">Cancel</button>

                  
         
            </div>
            <div style="padding: 20px;">
                            <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  <label class="form-check-label" for="flexCheckDefault">Assign To All Products</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title" id="exampleModalLabel1">QR Code</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="frmProductUrl">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="UrlProductID" name="ProductID">
                    <div class="form-group" style="text-align:center;">
                        <img id="imgQrCode" width="200" height="200" src="" alt="qr code" />
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeModal" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnPreviewQR">Show Mobile Preview</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="qrPreviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <iframe id="qrPreviewFrame" height="450" src="/SupplyChains/Preview"></iframe>
        </div>
    </div>
</div>

<div class="modal fade" id="embedCodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title" id="exampleModalLabel1">Embed Code</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="frmProductUrl">
                <div class="modal-body">
                    <div class="row">
                    <div class="col-md-12 mb-3">
                       <div class="form-group">
                          <label for="titleInput">ID of element to add to:</label>
                          <input type="search" class="form-control" id="embedElementIdInput">
                        </div>                        
                    </div>                  
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <input style="width:100%;" class="form-control" id="embedTxtInput" value="" disabled />
                        </div>
                    </div>                    
                </div> 
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeModal" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnConfirmCopyEmbed">Copy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input hidden id="selectedProdId" value="" />
@section Scripts
{
    <script src="~/js/products.js?version=@DateTime.Now"></script>
}

